<h1>Congratulations! Riding Rails!</h1>

<h3>App Directory</h3>
	<%= @envs['PWD'] %>

<h3>System ENV Variables</h3>
	<ul>
	<% @envs.each do |variable, value| %>
		<li><%= variable %> <%= value %></li>
	<% end %>
	</ul>

<h3>Users</h3>
	<ul>
	<% @users.each do |user| %>
		<li><%= user %></li>
	<% end %>
	</ul>